<div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
  <div class="text-xl font-bold">AS Monaco Beach-Volley</div>
    <nav class="space-x-4 text-sm font-medium">
      <%= link_to 'Dashboard', admin_dashboard_path, class: "hover:underline" %>
      <%= link_to 'Joueurs', admin_players_path, class: "hover:underline" %>
      <%= link_to 'Sessions', admin_sessions_path, class: "hover:underline" %>
      <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: "hover:underline" %>
    </nav>
</div>
